.row.image-holder
	.col-md-8.col-sm-4
		.avatar-holder
			img.avatar(src="./images/avatar.jpg")
	.col-sm-8
		h2.uppercase.
			Todor Atanasov
	.col-sm-8
		h3.introduction.push-v.
			Web dev based in Plovdiv, Bulgaria.
	.col-sm-12
		.description.
			A fish can be a turtle if he fucking wants to be. Don't spoil his drems!