.row.image-holder
	.col-xs-12
		.avatar-holder
			.avatar
		.text-container
			h2.uppercase.
				brendon urie
			h3.introduction.
				Hi, I am Pete Wentz from My Chemical Romance.
			.description.
				A fish can be a turtle if he fucking wants to be. Don't spoil his drems!