.image-holder
	.row
		.col
			.avatar-holder
				img.avatar(src="./images/avatar.jpg")
	.row
		.col
			h2.font-weight-bold.
				Todor Atanasov
	.row
		.col
			h3.introduction.my-2.
				Full stack JS web dev based in Plovdiv, Bulgaria.