.row
	.col-sm-12.mx-auto
		.text-container
			h3.uppercase.my-2.main-colour.
				Contact information
hr.mb-2
+contact("Phone", "+359883504250")(icon="phone")
+contact("Email", "toshkatta@gmail.com")(class="mt-2" icon="email")