.row
	.col-xs-12
		.text-container
			h3.uppercase.push-v.
				Education
hr.push-bottom
ul
	+education("SoftUni 2014 - 2015", "Basic programming, OOP, Web front end and AngularJS")
	+education("Art academy Plovdiv 2014 - 2015", "Master's degree in PR of Art Organizations")(class="push-top-more")
	+education("Art academy Plovdiv 2010 - 2014", "Bachelor's degree in Pedagogy of Art Teaching")(class="push-top-more")