.row.mt-4
	.col-sm-12
		.text-container
			h3.uppercase.my-2.
				Education
hr.mb-2
ul
	+education("SoftUni 2014 - 2015", "Programming basics, OOP, High quality code, Teamwork and personal skills, Web front end and AngularJS")
	+education("Art academy Plovdiv 2014 - 2015", "Master's degree in PR of Art Organizations")(class="mt-4")
	+education("Art academy Plovdiv 2010 - 2014", "Bachelor's degree in Pedagogy of Art Teaching")(class="mt-4")