.row
	.col-xs-12
		.text-container
			h3.uppercase.push-v.
				Interests
hr.push-bottom
.row
		.col-xs-12.
			I would like to learn more about UI and UX design, Angular 2 and everything else related to frontend web development. Apart from programming I am interested in traditional and digital graphic design, illustration, photography, sculpture and arty art art. I enjoy working out, eating healthy and drawing.