mixin socialMedia(link, hoverClass)
	.row.my-3
		a.col.sm-12.center-v.link(href=link target="_blank", class!=hoverClass)
			.contact(class!=attributes.icon)
			.ml-3.
				@toshkatta

mixin contact(text1, text2)
	.row.my-3
		.col.sm-12.center-v
			.contact(class!=attributes.icon)
			span.ml-2
				= text2

mixin education(title, description)
	.row(class!=attributes.class)
		.col-sm-12
			li.my-2
				.rect
				h4.uppercase
					= title
	.row
		.col-sm-12
			= description