.row
	.col-xs-12
		.text-container
			h3.uppercase.push-v.
				Personal projects
hr.push-bottom
ul
	.row
		.col-xs-12
			li.push-v
				.rect
				h4.uppercase.
					Gallery
	.row
		.col-xs-12.
			A simple <strong>MEAN</strong> stack gallery I did for an interview. It was my first try at full stack development.
	.row
		.col-xs-12
			a.github-link(href="https://github.com/toshkatta/Gallery-1.1" target="_blank") github
	.row.push-top-more
		.col-xs-12
			li.push-v
				.rect
				h4.uppercase.
					This CV
	.row
		.col-xs-12.
			I wanted to learn more about <strong>Jade/Pug</strong>, <strong>SASS</strong> and <strong>responsive design</strong> and I felt like my CV needed a redesign.
	.row
		.col-xs-12
			a.github-link(href="https://github.com/toshkatta/cv2" target="_blank") github