.row.mt-4
    .col-md-12
        .text-container
            h3.uppercase.my-2.
                Personal projects
hr.mb-2
ul
    .row
        .col-md-12
            li.my-2
                .rect
                h4.uppercase.
                    Demo app - WIP
    .row
        .col-md-12
            p.
                I wanted to learn more about full stack web development so I started working on this app. I want it to list items which users can browse, add to collections, post comments and replies, search for specific item by name or some other property, sort and so on. Users and items will have pictures which will be stored on the server. There will be pages which only logged in users can access. So far I have completed the register/login/logout, edit profile and image upload processes, displaying a list of sneakers on the home page, creating and viewing a single sneaker and I am working on implementing the rest: add comments and replies, add pagination and implement the search functionality. I added validations to each of the fields on the register page both at the FE and the BE. As the user is typing in the name and email fields I am sending requests to the BE to check if given username/email is already taken to notify the user. Passwords are hashed when the user is created or the password is updated. Uploaded images are resized and saved in the public folder, matched by the user's id and are accessable by the FE. I added an auth guard which prevents logged in users from accessing the register/login pages and non registered users from accessing the profile page.
    .row
        .col-md-12
            a.github-link(href="https://github.com/toshkatta/demoApp" target="_blank") FE github
    .row
        .col-md-12
            a.github-link(href="https://github.com/toshkatta/demoAppApi" target="_blank") BE github
    .row.my-2
        .col-md-4.col-sm-6.col-12
            a(href="./images/da1.jpg" target="_blank")
                img.portfolio-image(src="/images/da1.jpg")
        .col-md-4.col-sm-6.col-12
            a(href="./images/da2.jpg" target="_blank")
                img.portfolio-image(src="/images/da2.jpg")
        .col-md-4.col-sm-6.col-12
            a(href="./images/da3.jpg" target="_blank")
                img.portfolio-image(src="/images/da3.jpg")
    .row.my-2
        .col-md-4.col-sm-6.col-12
            a(href="./images/da4.jpg" target="_blank")
                img.portfolio-image(src="/images/da4.jpg")
        .col-md-4.col-sm-6.col-12
            a(href="./images/da5.jpg" target="_blank")
                img.portfolio-image(src="/images/da5.jpg")
        .col-md-4.col-sm-6.col-12
            a(href="./images/da6.jpg" target="_blank")
                img.portfolio-image(src="/images/da6.jpg")
    .row.my-2
        .col-md-4.col-sm-6.col-12
            a(href="./images/da7.jpg" target="_blank")
                img.portfolio-image(src="/images/da7.jpg")
        .col-md-4.col-sm-6.col-12
            a(href="./images/da8.jpg" target="_blank")
                img.portfolio-image(src="/images/da8.jpg")
        .col-md-4.col-sm-6.col-12
            a(href="./images/da9.jpg" target="_blank")
                img.portfolio-image(src="/images/da9.jpg")
    .row.mt-3
        .col-md-12
            li.my-2
                .rect
                h4.uppercase.
                    Recipe Book
    .row
        .col-md-12
            p.
                I decided that I need to learn more about <strong>Angular</strong> and <strong>PostgesSQL</strong> so I found a basic tutorial online and decided to expand on it. This project has a basic CRUD functionality, pagination and sorting.
            br
            p.
                There are 5 pages: home, page not found, recipes, drinks and a page for viewing a single recipe.
            br
            p.
                At the recipes page there is a paginated list of recipes with previous/next functionality. Next there is the add recipe button which opens a modal with inputs for all the necessary fields for creating a recipe and a close and save buttons. Each input has an empty check validation and displays an error message if it's empty. Also the save button can't be clicked if there are errors. Next to each recipe in the list there is a triangular button which opens up a dropdown with the recipe's details and the edit, delete and view buttons. The edit button opens up a modal similar to the create recipe modal with the recipe's properties already entered into the inputs and ready for changes. The empty checks and error messages are still there. The delete button opens up a confirm modal. The view button displays the selected recipe on its own page. Whenever a recipe is added, deleted or modified the page is automatically refreshed.
            br
            p.
                At the drinks page there is a list of all of the drinks in the DB displayed in a table. The drinks can be sorted by clicking on each of the fields in the table head. There is also the search input, which can be used to filter the list of drinks to display only the drinks, which contain the value of the input in one or more of its text properties.
            br
            p.
                Most of the styling is done by using <strong>Bootsrap</strong> and a bootswatch theme because it was not the main focus.
            br
    .row
        .col-md-12
            a.github-link(href="https://github.com/toshkatta/recipebook" target="_blank") github
    .row.my-2
        .col-md-12
            a(href="https://github.com/toshkatta/recipebook" target="_blank")
                img.portfolio-image(src="./images/rb.jpg")
    .row.mt-4
        .col-md-12
            li.my-2
                .rect
                h4.uppercase.
                    This CV
    .row
        .col-md-12.
            I wanted to learn more about <strong>Jade/Pug</strong>, <strong>SASS</strong> and <strong>responsive design</strong> and I felt like my CV needed a redesign.
    .row.my-2
        .col-md-12
            a.github-link(href="https://cvta.herokuapp.com/" target="_blank") This is my old CV for reference.
    .row
        .col-md-12
            a.github-link(href="https://github.com/toshkatta/cv2" target="_blank") github

    .row.mt-4
        .col-md-12
            li.my-2
                .rect
                h4.uppercase.
                    Gallery
    .row
        .col-md-12.
            A simple <strong>MEAN</strong> stack gallery I did for an interview. It was my first try at full stack development.
    .row
        .col-md-12
            a.github-link(href="https://github.com/toshkatta/Gallery-1.1" target="_blank") github
    .row.my-2
        .col-md-12
            a(href="https://github.com/toshkatta/Gallery-1.1" target="_blank")
                img.portfolio-image(src="./images/gallery.jpg")