.row
	.col-sm-12.mx-auto
		.text-container
			h3.uppercase.my-2.main-colour.
				Social network
hr.mb-2
+socialMedia("https://github.com/toshkatta", "github-hover")(icon="github")
+socialMedia("https://www.linkedin.com/in/toshkatta/", "linkedin-hover")(icon="linkedin")
+socialMedia("https://www.codecademy.com/toshkatta", "codecademy-hover")(icon="codecademy")

hr.mb-3
a.link(href="./pdf/tatanasovcv-images.pdf" download) Download as pdf with images
br
br
a.link(href="./pdf/tatanasovcv-no-images.pdf" download) Download as pdf without images