.row
	.col-xs-12
		.text-container
			h3.uppercase.push-v.
				Social network
hr.push-bottom
+socialMedia("skype:toshkatta@gmail.com?userinfo", "toshkatta@gmail.com")(class="skype")
+socialMedia("https://www.linkedin.com/in/toshkatta/", "\/toshkatta")(class="linkedin")
+socialMedia("https://github.com/toshkatta", "\/toshkatta")(class="github")
+socialMedia("https://www.codecademy.com/toshkatta", "\/toshkatta")(class="codecademy")