.row.push-top-more
	.col-xs-12
		.text-container
			h3.uppercase.push-v.
				Working experience
hr.push-bottom
ul
	.row
		.col-xs-12
			li
				.rect
				h4.uppercase.
					Game developer 07.2016 - 03.2017
	.row
		.col-xs-12
			.company.push-v.
				Melon
	.row
		.col-xs-12.
			I was working on a slots game with bonus games created with <strong>TypeScript</strong> and <strong>Phaser</strong>. My job was to help create one of the bonus games, refactor code, create documentation, create <strong>gulp</strong> files for automation and fix assets in <strong>Photoshop</strong>.

	.row.push-top-more
		.col-xs-12
			li
				.rect
				h4.uppercase.
					Middleware web developer 06.2015 - 07.2016
	.row
		.col-xs-12
			.company.push-v.
				Dodona(06.2015 - 09.2015) and Lanta(09.2015 - 07.2016)
	.row
		.col-xs-12.
			My job was to create and extend Angular controllers, directives, services and models, send and handle http requests on the client-side server, social media and online payment system integration. We use <strong>Jade/Pug</strong>, <strong>Sass</strong>, <strong>AngularJS</strong> and <strong>Webpack</strong> at the front end and <strong>PostgreSQL</strong> and <strong>NodeJS</strong> at the back end.
	.row.push-v
		.col-xs-12
			a(href="https://lexicon.bg/" target="_blank")
				img.portfolio-image(src="./images/lex.jpg")