extends extends/master
include ./includes/mixins

block content
	.sidebar-background.col-md-3
	.container-fluid
		.row
			aside.sidebar.col-md-3.col-sm-12
				include ./includes/avatarHolder
				.contact-container
					include ./includes/contacts
					include ./includes/socialMedia

			article.main.col-lg-9.col-md-9.col-sm-12
				include ./includes/work
				include ./includes/projects
				include ./includes/education