extends extends/master
include ./includes/mixins

block content
	.container-fluid
		.row
			aside.left.col-lg-3.col-md-3.col-sm-3.col-xs-3
				include ./includes/avatarHolder
				.contact-container
					include ./includes/contacts
					include ./includes/socialMedia

			article.right.col-lg-9.col-md-9.col-sm-9.col-xs-9
				.text-centered.
					Right side