extends extends/master

block content
	.container-fluid
		.row
			aside.left.col-lg-4.col-md-4.col-sm-4.col-xs-4
				.row.image-holder
					.col-md-10.col-md-offset-1
						.avatar-holder
							.avatar
						.text-container
							h2.uppercase.
								brendon urie
							h3.introduction.
								Hi, I am Pete Wents from My Chemical Romance.
							.description.
								A fish can be a turtle if he fucking wants to be. Don't spoil his drems!

				.row
					.col-md-10.col-md-offset-1
						.text-container
							h3.uppercase.
								Contact information
				hr
				.row
					.col-sm-4.
						Phone
					.col-sm-2.text-centered.
						&equals;
					.col-sm-6.text-wrap.
						&plus;359883504250
				.row
					.col-sm-4.
						Email
					.col-sm-2.text-centered.
						&equals;
					.col-sm-6.text-wrap.
						toshkatta@gmail.com

				.row
					.col-md-10.col-md-offset-1
						.text-container
							h3.uppercase.
								Social network
				hr
				a(href="https://www.linkedin.com/in/todor-atanasov-6400a2139/"  target="_blank").row.
					LinkedIn



			article.right.col-lg-8.col-md-8.col-sm-8.col-xs-8
				.text-centered.
					Text that should take nice columns on the left side