@import 'globals';

.image-holder {
	background-color: $mainColour;
	color: black;
	display: inline-block;
	width: 100%;
	height: auto;
}

.avatar-holder {
	width: fit-content;
	display: table;
}

.avatar {
	width: auto;
	height: 300px;
	vertical-align: middle;
}

.description {
	margin: 10px 0;
}