@import 'globals';

.image-holder {
	background-color: $mainColour;
	color: black;
}

.avatar-holder {
	border: 2px solid black;
	margin: 10px 0;
	padding: 2px 2px 0px 2px;
}

.avatar {
	width: 100%;
	height: auto;
}

.description {
	margin: 10px 0;
}