@import 'globals';

.image-holder {
	background-color: $mainColour;
	color: black;
	display: inline-block;
	width: 100%;
	height: auto;
}

.avatar-holder {
	border: 2px solid black;
	margin: 10px 0;
	width: fit-content;
}

.avatar {
	width: auto;
	height: 200px;
}

.description {
	margin: 10px 0;
}