$gray: #1C1C1F;
$white: #EAF2EF;
$mainColour: #1D7874;
$hover: #48a29e;
$font-stack:  Segoe UI, Helvetica, Arial, sans-serif;

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font: 100% $font-stack;
	background-color: $white;
	color: white;
}

h2 {
	font-size: 2.3em;
	font-weight: 700;
}

h3 {
	font-size: 1.44em;
	font-weight: 600;
	margin: 0;
}

h4 {
	font-size: 1.2em;
	font-weight: 500;
	display: inline;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $mainColour;
	margin: 0;
	padding: 0;
}

a, a:hover,  a:link, a:visited{
	text-decoration: none;
}

strong {
	font-weight: 700;
}

.text-centered {
	text-align: center;
}

.text-justified {
	text-align: justify;
}

.text-small {
	font-size: 0.8em;
}

.text-wrap {
	word-wrap: break-word;
}

.uppercase {
	text-transform: uppercase;
}

.push-top {
	margin-top: 10px;
}

.push-top-more {
	margin-top: 20px;
}

.push-bottom {
	margin-bottom: 10px;
}

.push-bottom-more {
	margin-bottom: 20px;
}

.push-v {
	margin-top: 10px;
	margin-bottom: 10px;
}

.push-v-more {
	margin-top: 20px;
	margin-bottom: 20px;
}