@import 'globals';

.logo-text {
	margin: 2px 0;
}

.contact {
	width: 24px;
	height: 24px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.link {
	&:hover {
		color: white;
	}

	text-decoration: none;
	color: $white;
}

.phone {
	background-image: url('../images//phone.png');
}

.email {
	background-image: url('../images//email.png');
}

.github {
	background-image: url('../images//github.png');
}

.linkedin {
	background-image: url('../images//linkedin.png');
}

.codecademy {
	background-image: url('../images//codecademy.png');
}